# this is a publicly available password for the evergreen test jvm keystore
export KEYSTORE_PASSWORD="bithere"
# users must enter the password for their java truststore
export TRUSTSTORE_PASSWORD="<your truststore password>"
