# This is an arbitrary password for the generated KeyStore
export KEYSTORE_PASSWORD="bithere"
# You must enter the password for your Java TrustStore
export TRUSTSTORE_PASSWORD="<Your TrustStore password>"
