# This is an arbitrary password for the KeyStore you generate when you run configure_certs.sh
export KEYSTORE_PASSWORD="bithere"
# You must enter the password for your global Java TrustStore
export TRUSTSTORE_PASSWORD="<Your TrustStore password>"
