-Djavax.net.ssl.enabled=true
-Djavax.net.ssl.keyStoreType=pkcs12
-Djavax.net.ssl.keyStore=/Users/alek.binion/projects/csfle-guides/java/client.pkc
-Djavax.net.ssl.keyStorePassword=testpw
-Djavax.net.ssl.trustStoreType=jks
-Djavax.net.ssl.trustStore=/Users/alek.binion/projects/csfle-guides/java/mongo-truststore
-Djavax.net.ssl.trustStorePassword=testpw


