autopep8==1.4.4
cffi==1.13.2
cryptography==2.8
dnspython==1.16.0
entrypoints==0.3
flake8==3.7.9
greenlet==0.4.15
mccabe==0.6.1
msgpack==0.6.2
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pymongo==3.9.0
pymongocrypt==0.1b2
pynvim==0.3.2
six==1.13.0
